<div class="container">
  <div class="row gap-3 mb-5">
    <div class="row gap-2 col-5">
      <div class="col-4 p-0">
        <input
          class="form-control task-name-input"
          type="text"
          placeholder="task name"
          aria-label="default input example"
          [(ngModel)]="taskName"
        />
      </div>

      <div class="col-3 p-0">
        <select
          class="form-select difficulty-select"
          aria-label="Default select example"
          [(ngModel)]="difficultyChosen"
        >
          <option
            *ngFor="let x of difficulty"
            [value]="x"
            [selected]="x === 'Medium'"
          >
            {{ x }}
          </option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary col-2" (click)="addTodo()">
        add
      </button>
    </div>

    <section class="todo-board-container row gap-3">
      <div class="col todo-board-wrapper">
        <div class="todo-board-header">
          <i class="fa-regular fa-rectangle-list"></i>To-do
        </div>
        <p class="todo-board-empty">List is</p>
        <ul *ngIf="show">
          <li
            class="todo-board-list row"
            *ngFor="let todo of todos; let number = index"
          >
            <div class="todo-board-list-text col-7">
              <p>{{ number + 1 }}.{{ todo.todo }}</p>
              <button [ngClass]="todo.difficulty | lowercase">
                {{ todo.difficulty }}
              </button>
            </div>

            <div class="todo-board-list-buttons col-5 d-flex flex-row">
              <button
                type="submit"
                class="btn btn-primary col-2 ms-auto ms-auto"
              >
                <i class="fa-solid fa-greater-than"></i>
              </button>
              <button type="submit" class="btn btn-danger col-2">
                <i class="fa-regular fa-square"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>

      <div class="col todo-board-wrapper">
        <div class="todo-board-header">
          <i class="fa-regular fa-rectangle-list"></i>In Progress
        </div>
        <p class="todo-board-empty">List is</p>
        <ul *ngIf="show">
          <li class="todo-board-list row" *ngFor="let todos of todos">
            <div class="todo-board-list-text col-7">
              <p></p>
              <button class=""></button>
            </div>
            <div class="todo-board-list-buttons col-5 d-flex">
              <button type="submit" class="btn btn-primary col-2 ms-auto">
                <i class="fa-solid fa-less-than"></i>
              </button>
              <button type="submit" class="btn btn-success col-2">
                <i class="fa-solid fa-greater-than"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col todo-board-wrapper">
        <div class="todo-board-header">
          <i class="fa-regular fa-rectangle-list"></i>
          Done
        </div>
        <p class="todo-board-empty">List is</p>
        <ul *ngIf="show">
          <li class="todo-board-list row" *ngFor="let todos of todos">
            <div class="todo-board-list-text col-7">
              <p></p>
              <button class=""></button>
            </div>
            <div class="todo-board-list-buttons col-5 d-flex">
              <button type="submit" class="btn btn-primary col-2 ms-auto">
                <i class="fa-solid fa-less-than"></i>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
